body {
  font-family: "Lato", sans-serif;
  margin: 20px;
}

.container {
  position: relative;
  left: -30px;
  bottom: 54px;
  right: 237px;
}

.center {
  position: relative;
  bottom: 238px;
  left: 800px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.center a {
  display: block;
  color: #87cefa;
  border: 3px solid #ffffff;
  opacity: 0.6;
  border-radius: 7px;
  text-align: center;
  padding: 15px 22px;
  margin: 40px;
  text-decoration: none;
}
a {
  float: left;
}

.center a:hover {
  background-color: #800000;
}

.active {
  background-color: slategray;
}

.imagea {
  width: 1000px;
  height: 200px;
  padding: 25px;
}

h3 {
  position: relative;
  top: 25px;
  left: -320px;
  text-align: center;
  font-size: 23px;
  color: #ff6600;
}

#sidebar {
  height: 1000px;
  width: 200px;
  position: relative;
  z-index: 1;
  left: -50px;
  top: -163px;
  background-color: olive;
  padding-top: 20px;
  padding: 60px;
  padding-left: 5px;
  padding-right: 32px;
  margin-left: 50px;
}

.sidebar a {
  padding: 6px 6px 6px 32px;
  display: block;
}

img {
  width: 92%;
  height: 25%;
  margin: 5px;
}

#one {
  position: relative;
  top: -138px;
  padding: 12px;
  margin: 10px;
  border: 3px solid black;
}

#two {
  position: relative;
  top: -147px;
  padding: 12px;
  margin: 10px;
  border: 3px solid black;
}

#three {
  position: relative;
  top: -157px;
  padding: 12px;
  margin: 10px;
  border: 3px solid black;
}

#main {
  display: block;
  position: relative;
  top: -1257px;
  right: 60px;
  margin-left: 300px;
  padding: 0px 10px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .container,
  #sidebar,
  #main {
    width: 100%;
  }
}
